{
    "extends": "eslint:recommended",
    //check here for additional styles
    //https://www.npmjs.com/package/eslint-config-defaults
    //"extends": "defaults/configurations/gulp",
    //"extends": "defaults/configurations/walmart/es6-browser",
    //"extends": "defaults/configurations/airbnb/es6-react",

    "env": {
        "es6": true,
        "node": true,
        "browser": true
    },

    "rules": {
        "indent": [2, "tab"],
        "quotes": [2, "single", "avoid-escape"],
        "linebreak-style": [2, "unix"],
        "semi": [2, "always"],
        "block-scoped-var": 2,
        "no-var": 0,
        "react/prefer-es6-class": 0,
        "comma-dangle": 0
    },

    "ecmaFeatures": {
        "jsx": true,
        "experimentalObjectRestSpread": true,
    },

    "parser": "babel-eslint",
    "plugins": ["react"]
}