{
    "extends": "eslint:recommended",

    "rules": {
        "indent": [2, "tab"],
        "quotes": [2, "single", "avoid-escape"],
        "linebreak-style": [2, "unix"],
        "semi": [2, "always"]
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": true
    },
    "ecmaFeatures": {
        "jsx": true,
        "experimentalObjectRestSpread": true
    },
    "parser": "babel-eslint",
    "plugins": [
        "react"
    ]
}