# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias -- -="cd -"
alias -- --="cd -1"

alias c="clear"

# Shortcuts
alias down="cd ~/Downloads"
alias desk="cd ~/Desktop"
alias p="cd ~/projects"

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
	colorflag="--color"
else # OS X `ls`
	colorflag="-G"
fi

# List all files colorized in long format, including dot files
alias ll="ls -lahFgX ${colorflag} --group-directories-first --time-style='+%d %b %H:%M'"
alias l="ls --size -1SAXhF --color --group-directories-first"


# Using eza instead of ls
alias ell="eza -AlF --group-directories-first --no-user --no-quotes --sort=type --no-permissions"
alias lh="eza -dl .* --group-directories-first --no-user --no-permissions"	# only hidden files
alias ld="eza -lADh --no-user --no-permissions"	# only directories

# Always use color output for `ls`
alias ls="command ls ${colorflag}"
export LS_COLORS='no=00:fi=00:di=01;34:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Keep colors, enable scrolling
alias less='less -FRX'

# Enable aliases to be sudo’ed
alias sudo='sudo '

alias showpass='lpass show --password'
alias copypass='lpass show --password -c'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Recursively delete `.DS_Store` files
# alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"
alias cleanup="fd '^(node_modules|\.DS_Store|bin|obj)$' --no-ignore --hidden --prune"
alias cleanup-exec="cleanup --exec rm -rf"

# Empty the Trash on all mounted volumes and the main HDD.
# Also, clear Apple’s System Logs to improve shell startup speed.
# Finally, clear download history from quarantine. https://mths.be/bum
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"
alias realod="exec $SHELL -l"

#suspend sleep
alias suspendsleep="sudo systemsetup -setcomputersleep Off"
alias resumesleep="sudo systemsetup -setcomputersleep 2"
alias setsleep="sudo systemsetup -setcomputersleep"

# Docker aliases
alias dk=docker
alias dkc=docker-compose

alias unzip="7z x"
alias zip="7z a -r"

# Count lines of code
alias sloc="sloc -e 'node_modules|\.git\b|\bbin\b|\bobj\b|\bdist\b|\.cache\b'"
alias cloc="cloc --exclude-dir=node_modules,.git,.cache,dist,bin,obj,.vscode,.idea,.terraform,published,wwwroot,__mocks__,legacy-db,layouts-laura,examples --exclude-ext=tfstate --not-match-f='package-lock|deps\.json'"

# AWS profile switching
alias awsp="source _awsp"
alias aws-profile='export AWS_PROFILE=$(sed -n "s/\[profile \(.*\)\]/\1/gp" ~/.aws/config | fzf)'

# git
alias g="git"
alias gs="git s"
alias gl="git l"
alias gds="git ds"
alias gdf="git df"
alias gaa="git aa"
alias gcm="git cm"
alias gca="git ca"
alias gcam="git cam"
alias gcame="git cane"
alias gcane="git cane"
alias gpr="git pr"
alias gph="git push"
alias gco="git co"

# yarn
alias y="yarn"
alias yw="yarn workspace"

# pnpm
alias pn="pnpm"
alias pnw="pnpm --recursive"
